.about-container {
    position: relative;
    width: 100vw;
    height: 102vh;
    /* background-color: var(--dark-blue); */
    opacity: 0.9;
}

/* html tags */
.html-tag-main {
    font-size: 20px;
}

.html-tag-main-open {
    position: absolute;
    top: 20px;
    left: 20px;
}

.html-tag-main-close {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.about-avatar {
    width: 20vw;
    height: 22vw;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 1px 5px  #475d7d;
}

.about-content-container-border {
    position: absolute;    
    width: 85%;
    height: 60%;
    left: 6vw;
    top: 8vh;
    /* border-top: 1px solid white; */
    /* border-top: 1px solid linear-gradient(45deg, #f06, #f06, #333); */
    border-left: 1px solid white;
    border-top-left-radius: 15px;
    
}
.about-content-container {
    position: absolute;    
    width: 100%;
    height: 80vh;
    left: 0;
    top: 0;
    border-top: 8px solid rgb(0, 0, 0);
    border-left: 8px solid rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: var(--dark-blue); */
    background: linear-gradient(150deg, #010711, #021b3e, #0a2140, #475d7d);
    box-shadow: 3px 3px 5px  #2f38448f;
}
.about-content-image {
    position: absolute;
    top: 6vh;
    left: 5vw;
}
.about-content-text-container {
    position: absolute;
    left: calc(8vw + 10px + 20vw);
    top: 10vh;
    padding: 15px;

}
/* Media query for phones or screens with a max-width of 767px */
@media screen and (max-width: 767px) {
    .about-content-container {
        width: 100%;
        
    }
    .about-content-text {
        font-size: 15px !important ;
    }
}
.about-content-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 1px black;
}

.about-goto-exp {
        /* Font */
        color: rgb(200, 200, 200);
        text-shadow: 1px 1px 2px black;
        /* Positioning */
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
}
.about-goto-exp:hover {
    cursor: pointer;
}
.about-goto-exp-icon {
    transition: transform 0.5s ease;
}
.about-goto-exp-icon:hover {
    transform: scale(1.4);
}